*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    list-style: none;
    text-decoration: none;
}



:root{ /* Per gestire testi, colori dei vari elementi */
    --bg-color: #165471;
    --text-color: #fff;
    --logo-color: rgb(215, 219, 224); 
}


body{
    background: var(--bg-color);
    color: var(--text-color);
}

/* HEADER */

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 20px 12%; /* Gestisce la distanza tra logo e testi della navbar */
    text-decoration: none;
}


.logo {
    color: var(--text-color);
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    
}

.logo:after {
    text-decoration: none;
    color: var(--text-color);
}

.navbar {
    display: flex;
}

.navbar li {
    position: relative;
}

.navbar a {  /* Richiama i singoli testi della navbar */
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.3rem;
    padding: 10px 20px;
    text-decoration: none;
} 
