* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root { /* Gestione colori */
    --bg-color: #07537e;
    --text-color: #fff;
    --main-color: #bbf205;
    --about-color: #1a597d;
}


body {
    background: var(--bg-color);
    color: var(--text-color);
}

/* HEADER */

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 25px 15%;
    transition-duration: .3s;
}

header.sticky {
    padding: 6px 15%;
    background: #2a6593b7;
}

.logo {
    color: var(--text-color);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
}

.logo:hover {
    color: var(--text-color);
    text-decoration: none;
}

.navbar {
    display: flex;
}

.navbar li {
    position: relative;
}

.navbar a {
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.2rem;
    padding: 20px 20px;
    text-decoration: none;
}

.navbar a::after {
 content: '';
 position: absolute;
 width: 0;
 height: 2px;
 background: var(--main-color);
 left: 0;
 bottom: -4px;
 transition: ease .40s;
}

.navbar a:hover::after {
    width: 100%;
}


/* HOME */

.home {
    height: 100vh;
    width: 100%;
    background: var(--bg-color);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.home-text h1{
    text-align: center;
    font-size: 5rem;
}

.home-text h4 {
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

/* CHI SONO */

.about {
    width: 100%;
    display: grid;
    background: var(--about-color);
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 2rem;
}

.about-text h1 {
    font-size: 3rem;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 25px;
    
}

.about-text p {
    font-size: 1.1rem;
    margin-top: 40px;
    margin-left: 150px;
    max-width: 550px;
    letter-spacing: 0.8px;
    margin-bottom: 50px;
}